body {
  background-color: rgba(0,0,0, 0.1);
}

table, tr, td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

#tabela2,
#tabela3,
#tabela4,
#tabela5 {
  margin-top: 20px;
}

#tabela4 td {
  color: #fff;
}

#tabela4 th {
  background: pink;
}

#tabela5 {
  color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.white {
  background-color: white;
}
